# class- Classification of real world entity
# object variable of class

In [3]:
class Car:
    pass

In [5]:
audi = Car()
audi.milage = 70
audi.year = 2020
audi.make = 1232444
audi.model = 'AZ10'

In [6]:
audi.milage

70

In [7]:
milage

NameError: name 'milage' is not defined

In [8]:
naxon = Car()
naxon.milage = 50
naxon.year = 2019
naxon.make = 45562
naxon.model = 'WR10'

In [9]:
naxon.make

45562

In [10]:
audi.make

1232444

In [11]:
naxon.baseprice = 900000

In [13]:
naxon.baseprice

900000

In [14]:
# Now here variables are not defined and we have to write again n again for each new object

In [20]:
class cars:
    
    def __init__(self, milage , year, make, model):
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model

In [21]:
audi  = cars(65,2020,134235,'AW12')

In [22]:
naxon = cars(70,2019,32123,'WR10')

In [15]:
toyato = cars()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [16]:
audi.make

134235

In [23]:
naxon.milage

70

In [18]:
class cars:
    
    def __init__( milage , year, make, model): # milage will behave as pointer to a class as it is a first parameter of init
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model

In [19]:
naxon = cars(70,2019,32123,'WR10') # hence here will get error on passing of 5 arguments as milage is not a param now

TypeError: __init__() takes 4 positional arguments but 5 were given

In [94]:
class cars:
    
    def __init__(self, company, milage , year, make, model):
        self.company = company
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model
        
    def carAge(self,current_year):
        return current_year - self.year

    def getMilage(self):
        return str(self.milage) + ' km/hr'
    
    def __str__(self):
        return self.company + ' (' + self.model + ') -' + str(self.year)

In [95]:
audi  = cars('Audi',65,2020,134235,'AW12')

In [96]:
audi.carAge(2022)

2

In [97]:
audi.getMilage()

'65 km/hr'

In [98]:
audi

In [99]:
print(audi)

Audi (AW12) -2020

In [103]:
class student:
    
    def __init__(self,name, roll_no, joining_year, *current_topics):
        self.name = name
        self.roll_no = roll_no
        self.joining_year = joining_year
        self.current_topics = current_topics
        
    def __str__(self):
        return "Name: " + self.name + " Roll No:" + str(self.roll_no)
    
    def getDuration(self, current_yr):
        return current_yr - joining_year
    
    def search_in_current_topics(self,search_topic):
        
        if(search_topic in current_topics):
            return True
        else:
            return False
    
    def showCurrentTopics(self):
        return self.current_topics

In [104]:
s1 = student('Atul G',10,2019,'AI','Data Science','Python','DL')