# class- Classification of real world entity
# object variable of class

In [3]:
class Car:
    pass

In [5]:
audi = Car()
audi.milage = 70
audi.year = 2020
audi.make = 1232444
audi.model = 'AZ10'

In [6]:
audi.milage

70

In [7]:
milage

NameError: name 'milage' is not defined

In [8]:
naxon = Car()
naxon.milage = 50
naxon.year = 2019
naxon.make = 45562
naxon.model = 'WR10'

In [9]:
naxon.make

45562

In [10]:
audi.make

1232444

In [11]:
naxon.baseprice = 900000

In [13]:
naxon.baseprice

900000

In [14]:
# Now here variables are not defined and we have to write again n again for each new object

In [20]:
class cars:
    
    def __init__(self, milage , year, make, model):
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model

In [21]:
audi  = cars(65,2020,134235,'AW12')

In [22]:
naxon = cars(70,2019,32123,'WR10')

In [15]:
toyato = cars()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [16]:
audi.make

134235

In [23]:
naxon.milage

70

In [18]:
class cars:
    
    def __init__( milage , year, make, model): # milage will behave as pointer to a class as it is a first parameter of init
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model

In [19]:
naxon = cars(70,2019,32123,'WR10') # hence here will get error on passing of 5 arguments as milage is not a param now

TypeError: __init__() takes 4 positional arguments but 5 were given

In [94]:
class cars:
    
    def __init__(self, company, milage , year, make, model):
        self.company = company
        self.milage = milage
        self.year   = year
        self.make   = make
        self.model  = model
        
    def carAge(self,current_year):
        return current_year - self.year

    def getMilage(self):
        return str(self.milage) + ' km/hr'
    
    def __str__(self):
        return self.company + ' (' + self.model + ') -' + str(self.year)

In [95]:
audi  = cars('Audi',65,2020,134235,'AW12')

In [96]:
audi.carAge(2022)

2

In [97]:
audi.getMilage()

'65 km/hr'

In [98]:
audi

In [99]:
print(audi)

Audi (AW12) -2020

In [113]:
class student:    
    
    def __init__(self,name, roll_no, joining_year, *current_topics):
        self.name = name
        self.roll_no = roll_no
        self.joining_year = joining_year
        self.current_topics = current_topics
        
    def __str__(self):
        return "Name: " + self.name + " Roll No:" + str(self.roll_no)
    
    def getDuration(self, current_yr):
        return current_yr - self.joining_year
    
    def search_in_current_topics(self,search_topic):
        
        if(search_topic in self.current_topics):
            return True
        else:
            return False
    
    def showCurrentTopics(self):
        return self.current_topics

In [114]:
s1 = student('Atul G',10,2019,'AI','Data Science','Python','DL')

In [115]:
s1.showCurrentTopics()

('AI', 'Data Science', 'Python', 'DL')

In [116]:
s1.search_in_current_topics('DL')

True

In [117]:
s1.getDuration(2022)

3

In [119]:
str(s1)

'Name: Atul G Roll No:10'

In [120]:
import datetime as dt

In [123]:
currentdate = dt.datetime.now()

In [130]:
currentdate.day

11

In [131]:
print(currentdate.strftime("%A"))

Sunday

In [134]:
print(currentdate.strftime("%Y-%d-%m %H:%M:%S"))

2021-11-04 17:39:55

In [135]:
pwd()

'D:\\ineuron\\ineuron\\Practice'

In [156]:
import logging as lg
class data:
    
    def __init__(self,filename,file_type,date,size):
        self.filename  = filename
        self.file_type = file_type
        self.date      = date
        self.size      = size
               
        formate = '%(asctime)-15s %(name)s %(message)s'
        lg.basicConfig(filename='log_file.txt',level= lg.DEBUG, format  = formate)
        
    def log(self,msg,level = "INFO"):
                
        if(level == "INFO"):
            lg.info(msg)
        else:
            lg.error(msg)
        
    def file_open(self):
        
        try:
            filename = self.filename + "." + self.file_type
            fw = open(filename,'w+')
            fw.write('Start Writing in file')
            self.log('Start Writing in file')
            text = self.filename + self.file_type + str(self.date) + str(self.size)
            fw.write(text)
            
        except Exception as e:
            msg = 'File Writing Failed...' + str(e)
            print(msg,"ERROR")
            self.log(msg)
        else:
            fw.close()
            
        
    def file_read(self):
        
        try:
            filename = self.filename + "." + self.file_type
            fr = open(filename)
            self.log('Start Reading in file')
            lst = []
            for line in fr:
                lst.append(line)
                           
        except Exception as e:
            msg = 'File Writing Failed...' + str(e)
            print(msg)
            self.log(msg,"ERROR")
        else:
            fr.close()
            return lst
        
        
    def file_append(self,text):
        
        try:
            filename = self.filename + "." + self.file_type
            fa = open(filename,'a')
            self.log('Start Appending in file')
            fa.write('\n'+text)
                           
        except Exception as e:
            msg = 'File Appending Failed...' + str(e)
            print(msg)
            self.log(msg,"ERROR")
        else:
            fa.close()

In [157]:
d = data("abc","txt",2021,1024)

In [158]:
d.file_open()

In [159]:
d.file_read()

['Start Writing in fileabctxt20211024']

In [160]:
d.file_append('New data for file ')

In [161]:
d.file_read()

['Start Writing in fileabctxt20211024\n', 'New data for file ']

In [ ]:
Abstraction -> protecting variable
variablename => private 
_variablename => protected
__variablename => private

In [29]:
class Test:
    
    def __init__(self,a,b,c):
        self.a  = a
        self._b = b
        self.__c = c
        
    def custom(self):
        return self.a + self._b +self.__c

In [30]:
t = Test(1,2,3)

In [31]:
t.a # public variable

1

In [32]:
t._b # Protected variable is acessible using object

2

In [33]:
t.__c # Not able access private variable directly using object

AttributeError: 'Test' object has no attribute '__c'

In [34]:
# We can access private like this
t._Test__c

3

In [35]:
t.custom()

6

In [38]:
class Test2(Test):
    
    def __init__(self,j,*args): 
        super(Test2,self).__init__(*args)
        self.j = j

In [39]:
t2 = Test2(12,1,2,3)

In [40]:
t2.j

12

In [41]:
t2.a

1

In [42]:
t2._b

2

In [43]:
t2.__c

AttributeError: 'Test2' object has no attribute '__c'

In [47]:
t2._Test__c

3

In [89]:
class test:
    def __init__(self,v):
        self.__v = v
        
    def a(self):
        return 'test=>' + str(self.__v) 

class test1:
    
    def __init__(self,v):
        self.__v = v
        
    def a(self):
        return 'test1=>' + str(self.__v)
    
class test2(test,test1):
    
    def __init__(self,v):
        test.__init__(self,v)
        test1.__init__(self,v+10)   
    
t2 = test2(10)
print(t2.a()) # priority given to first class inherited in child class 
print(test1.a(t2))

test=>10
test1=>20

In [92]:
# multiple inheritance with same method name is not possible even with method overloading 

class test:
        
    def a(self,x,y):
        return 'test=>' + str(x+y) 

class test1:

    def a(self,z):
        return 'test1=>' + str(z)
    
class test2(test,test1):
    pass
    
t2 = test2()
print(t2.a(10))
print(t2.a(20,30))

TypeError: a() missing 1 required positional argument: 'y'

Encapsulation => hiding actual implementation of class

In [102]:
class test:
    
    def __init__(self,a):
        self.a = a
    
    def __str__(self): 
        return "Inside test class with a= " + str(self.a)
    
class test1:
    
    def __init__(self,b):
        self.b = b
        
    def __str__(self):
        return "Inside test1 class with b= " + str(self.b)
    
class final:
    
    def __init__(self,obj,obj1):
        self.obj = obj
        self.obj1 = obj1
        
    def __str__(self):
        return str(self.obj) + " " + str(self.obj1)

In [103]:
t = test(10)
t1 = test1(20)
f = final(t,t1)

In [104]:
print(f)

Inside test class with a= 10Inside test1 class with b= 20