In [1]:
!python --version

Python 3.8.5

In [2]:
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.25.0-cp38-cp38-win_amd64.whl (2.9 MB)
Collecting geomet<0.3,>=0.1
  Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Requirement already satisfied: six>=1.9 in d:\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in d:\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.25.0 geomet-0.2.1.post1

In [2]:
import cassandra

In [4]:
print(cassandra.__version__)

3.25.0

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'D:\ineuron\CassandraDataStraxPythonBundle\secure-connect-test1.zip'
}
auth_provider = PlainTextAuthProvider('qZHkzZaFCPBuuJHOUZcDligQ', 'Wj.CTINlrZeOJDDm+R7tWHZ4P_KSRiAX3inEN+URy3FTENeQa9zmR0Se.dQdPiAxKL_zTKzZmgdF+nv0,T.a7Yh1D_mkB3UNFtqM_gR30bpxPW0kaYyOZ02bqy4GZgnt')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6814

In [ ]:
session

Token 

AstraCS:qZHkzZaFCPBuuJHOUZcDligQ:d66cd1ac5229b28149ebe38421887e0683697e8d33c58029ccc3335e25afc568

In [3]:
# for offline cassandra connection
from cassandra.cluster import Cluster
cluster = Cluster()
session_offline = cluster.connect()

row = session_offline.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

3.11.10

In [18]:
session_offline.execute("CREATE KEYSPACE quint123 WITH replication={'class':'SimpleStrategy','replication_factor':'1'} AND durable_writes='true';").one()

In [ ]:
# Create KeySpace 


#CREATE KEYSPACE ineruon3 WITH replication = {'class':'SimpleStrategy', 'replication_factor' : 3}

In [30]:
try:
    res = session_offline.execute("select * from system_schema.keyspaces where keyspace_name='quint55'").one()
    if (res):
        print("keyspace exists")
    else:
        print("create new keyspace")
    
except Exception as e:
    print(e)

create new keyspace

In [35]:
res = session_offline.execute("SELECT * FROM system_schema.keyspaces")

In [36]:
res

In [37]:
type(res)

cassandra.cluster.ResultSet

In [34]:
for i in res:
    print(i)

Row(keyspace_name='quint', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='quint123', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='quint12', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='system_auth', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '1')]))
Row(keyspace_name='system_schema', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='neuron', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '3')]))
Row(keyspace_name='system_distributed', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '3')]))
Row(keyspace_name='system', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.LocalStrategy')]))
Row(keyspace_name='system_traces', durable_writes=True, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.SimpleStrategy'), ('replication_factor', '2')]))

In [5]:
row = session_offline.execute("CREATE TABLE quint.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint)").one()
print(row)

None

In [21]:
session_offline.execute("insert into quint.emp(emp_id ,emp_name,emp_city,emp_sal,emp_phone) values(12,'Atul','Mumbai',42500,9702313731) IF NOT EXISTS;").one()

Row(applied=False, emp_id=12, emp_city='Mumbai', emp_name='Atul', emp_phone=9702313731, emp_sal=42500)

In [22]:
session_offline.execute("select * from emp;").one()

Row(emp_id=11, emp_city='Pune', emp_name='Atul Gaikwad', emp_phone=None, emp_sal=None)

In [31]:
session_offline.execute("alter table emp add emp_hobbies list<text>;").one()

In [51]:
row = session_offline.execute("select * from quint.emp;")
for i in row:
    print(i)

Row(emp_id=11, emp_city='Pune', emp_hobbies=['dance', 'singing'], emp_name='Shubham Gaikwad', emp_phone=None, emp_sal=None)
Row(emp_id=14, emp_city='Mumbai', emp_hobbies=['Reading', 'Cooking'], emp_name='Pratiksha Gaikwad', emp_phone=None, emp_sal=None)
Row(emp_id=12, emp_city='Mumbai', emp_hobbies=None, emp_name='Atul', emp_phone=9702313731, emp_sal=42500)

In [35]:
session_offline.execute("update emp set emp_hobbies=emp_hobbies + ['singing'] where emp_id=11 IF EXISTS;").one()

Row(applied=True)

In [52]:
row = session_offline.execute("select emp_name from emp where emp_id in (11,12) ALLOW FILTERING;")
for i in row:
    print(i)

Row(emp_name='Shubham Gaikwad')
Row(emp_name='Atul')

In [42]:
session_offline.execute("update emp set emp_name='Pratiksha Gaikwad',emp_city='Mumbai',emp_hobbies=['Reading','Cooking'] where emp_id=14;").one()

In [59]:
row = session_offline.execute("select * from emp limit 3;")
for i in row:
    print(i)

Row(emp_id=11, emp_city='Pune', emp_hobbies=['dance', 'singing'], emp_name='Shubham Gaikwad', emp_phone=None, emp_sal=None)
Row(emp_id=14, emp_city='Mumbai', emp_hobbies=['Reading', 'Cooking'], emp_name='Pratiksha Gaikwad', emp_phone=None, emp_sal=None)
Row(emp_id=12, emp_city='Mumbai', emp_hobbies=None, emp_name='Atul', emp_phone=9702313731, emp_sal=42500)

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

In [3]:
# use keyspace
cloud_config= {
        'secure_connect_bundle': 'D:\ineuron\CassandraDataStraxPythonBundle\secure-connect-test1.zip'
}
auth_provider = PlainTextAuthProvider('qZHkzZaFCPBuuJHOUZcDligQ', 'Wj.CTINlrZeOJDDm+R7tWHZ4P_KSRiAX3inEN+URy3FTENeQa9zmR0Se.dQdPiAxKL_zTKzZmgdF+nv0,T.a7Yh1D_mkB3UNFtqM_gR30bpxPW0kaYyOZ02bqy4GZgnt')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("use ineuron").one()
print(row)

None

In [5]:
row = session.execute("select * from system_schema.keyspaces").one()
print(row)

Row(keyspace_name='system_auth', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))

In [13]:
row = session.execute("CREATE TABLE ineuron.emp(emp_id int PRIMARY KEY,emp_name text,emp_city text,emp_sal varint,emp_phone varint)").one()
print(row)

None

In [10]:
row = session.execute("insert into emp(emp_id,emp_name,emp_city,emp_sal,emp_phone) values(13,'Shubham','Mumbai',43500,9702313942)").one()
print(row)

None

In [5]:
row = session.execute("select * from ineuron.emp").one()
print(row)

Row(emp_id=13, emp_city='Mumbai', emp_name='Shubham', emp_phone=9702313942, emp_sal=43500)

In [5]:
row = session.execute("use ineuron").one()
print(row)

None

In [7]:
row = session.execute("select * from emp")
print(type(row))

<class 'cassandra.cluster.ResultSet'>

In [8]:
import pandas as pd

In [15]:
row

In [16]:
pd.DataFrame(row)

   emp_id emp_city emp_name   emp_phone  emp_sal
0      13   Mumbai  Shubham  9702313942    43500
1      12   Mumbai     Atul  9702313944    32500

In [8]:
result = [i for i in row]

In [9]:
type(result)

list

In [10]:
result

[Row(emp_id=13, emp_city='Mumbai', emp_name='Shubham', emp_phone=9702313942, emp_sal=43500),
 Row(emp_id=12, emp_city='Mumbai', emp_name='Atul', emp_phone=9702313944, emp_sal=32500)]

In [6]:
row = session.execute("select * from emp")
row.one()

Row(emp_id=13, emp_city='Mumbai', emp_name='Shubham', emp_phone=9702313942, emp_sal=43500)

In [8]:
mydict = {
    "name" : "Atul",
    "lname" : "Gaikwad"
}

In [16]:
for i in list(mydict.keys()):
    print(i)

name
lname

In [19]:
list(mydict.keys())

['name', 'lname']

In [22]:
if type(12) == int:
    print('uyes')

uyes

In [23]:
type(123.2132)

float

In [24]:
mydict.values()

dict_values(['Atul', 'Gaikwad'])

In [27]:
len(mydict.keys())

0

In [26]:
mydict = {}

In [29]:
row = session.execute("select * from system_schema.keyspaces where keyspace_name='ineuron'").one()
print(row)

Row(keyspace_name='ineuron', durable_writes=True, graph_engine=None, replication=OrderedMapSerializedKey([('class', 'org.apache.cassandra.locator.NetworkTopologyStrategy'), ('us-east-1', '3')]))