In [1]:
import sqlite3
conn =  sqlite3.connect('myDB')

In [2]:
conn.execute('DROP TABLE IF EXISTS abc')

In [3]:
conn.execute('CREATE TABLE abc(ID INT,NAME TEXT,SCORE INT)')

In [27]:
cursor = conn.execute('SELECT * FROM abc')

In [28]:
type(cursor)

sqlite3.Cursor

In [29]:
result = cursor.fetchall()
type(result)

list

In [30]:
print(result)

[(12, 'Atul', 80), (13, 'shubham', 76)]

In [32]:
conn.execute('INSERT INTO abc(ID,NAME,SCORE) VALUES(14,"Avantika",70)')

In [38]:
cursor = conn.execute('SELECT * FROM abc')
result = cursor.fetchall()
print(result)

[(12, 'Atul', 80), (13, 'shubham', 76), (14, 'Avantika', 70)]

In [39]:
print(cursor.rowcount)

-1

In [40]:
conn.commit() # inserted records was not reflected in db broswer so had to commit

In [46]:
id=15
score=70
for i in range(0,5):
    name = 'default'+ str(i)
    id +=i
    score+=i
    conn.execute('INSERT INTO abc VALUES (?,?,?)',(id,name,score))

In [47]:
conn.commit()

In [49]:
# single row fetched as a tuple
type(list(conn.execute('SELECT * FROM abc'))[0])

tuple

In [50]:
list(conn.execute('SELECT * FROM abc'))[0]

(12, 'Atul', 80)

In [51]:
list(conn.execute('SELECT * FROM abc'))

[(12, 'Atul', 80),
 (13, 'shubham', 76),
 (14, 'Avantika', 70),
 (14, 'Avantika', 70),
 (14, 'Avantika', 70),
 (14, 'Avantika', 70),
 (15, 'default0', 70),
 (16, 'default1', 71),
 (18, 'default2', 73),
 (21, 'default3', 76),
 (25, 'default4', 80)]

In [52]:
for row in list(conn.execute('SELECT * FROM abc')):
    print(row)

(12, 'Atul', 80)
(13, 'shubham', 76)
(14, 'Avantika', 70)
(14, 'Avantika', 70)
(14, 'Avantika', 70)
(14, 'Avantika', 70)
(15, 'default0', 70)
(16, 'default1', 71)
(18, 'default2', 73)
(21, 'default3', 76)
(25, 'default4', 80)