In [18]:
s ='this is just a practice'
len(s)

23

In [2]:
s[0:100] #Here won't get index error as it is a range

'this is just a practice'

In [3]:
s[100] #Here will get index error as we have direclty passed

IndexError: string index out of range

In [10]:
s[-5:-1:1] #1 => is step size

'ctic'

In [11]:
s[2] ="i" # string is immuatable object
# cannot update data using index i.e at with same address we can assign new string in same variable though

TypeError: 'str' object does not support item assignment

In [12]:
# list is mutable object
mlist = ['abc',12,23,'dsd']
mlist[0]='PPQ'
mlist

['PPQ', 12, 23, 'dsd']

In [14]:
mlist[0][1] = 'S'

TypeError: 'str' object does not support item assignment

In [15]:
s[::-1]

'ecitcarp a tsuj si siht'

In [20]:
s = ['2'+x if s.index(x)%2 ==0 else '1'+x for x in s] # List comprehension also works with string but it will return a list in result

In [21]:
print(s)

['2t', '1h', '2i', '1s', '2 ', '2i', '1s', '2 ', '2j', '1u', '1s', '2t', '2 ', '1a', '2 ', '1p', '2r', '1a', '2c', '2t', '2i', '2c', '2e']

In [24]:
type(s)

list

In [25]:
msg = "Hello my name is Atul"

In [27]:
msg.find("l") # Returns Lowest index

2

In [30]:
s = "my name is"

In [32]:
for i in range(len(s)):
    if (s[i] == "m" or s[i] == "n" or s[i] == "a" or s[i]=="e"):
        print(s[i],' Location is- ',s.find(s[i]))

m  Location is-  0
n  Location is-  3
a  Location is-  4
m  Location is-  0
e  Location is-  6

In [34]:
start = s.find("name")
for i in range(len("name")):
    print(start+i)

3
4
5
6

In [36]:
s.count("m")

2

In [41]:
s.find("i",0,9) # will search in between 0-8 index

8

In [44]:
x = s.split() # by default delimiter is whitespace
print(x)
type(x)

['my', 'name', 'is']

list

In [46]:
s.split('e')

['my nam', ' is']

In [49]:
s.strip("s") #removes whitespace leading/preceeding bydefault

'my name i'

In [60]:
s = "My Name iS, Atul"
print(s.upper() , "\n", s.lower() , "\n" , s.swapcase())

MY NAME IS, ATUL
 my name is, atul
 mY nAME Is, aTUL

In [61]:
reversed(s)

In [62]:
list(reversed(s))

['l',
 'u',
 't',
 'A',
 ' ',
 ',',
 'S',
 'i',
 ' ',
 'e',
 'm',
 'a',
 'N',
 ' ',
 'y',
 'M']

In [68]:
s = "@".join(s)
print(s)

M@y@ @N@a@m@e@ @i@S@,@ @A@t@u@l

In [72]:
s = s.replace("@","")

In [78]:
s

'My Name iS, Atul'

In [86]:
s.center(24,'@') # will make string of lenght 24 with preceding and leading passed filler =>@
#Only character is allowed here

'@@@@My Name iS, Atul@@@@'

In [88]:
s="Atul\tAnil\tGaikwad"
s.expandtabs()

'Atul    Anil    Gaikwad'

In [106]:
a = "we all are a part of Full Stack"

print('normalized string- ',a.lower())
print('No. of "a" is ',a.count("a"))

print([i for i in range(len(a)) if a[i] == 'a'])

print(a.replace("a","iNeuron"))
print(a.split())

normalized string-  we all are a part of full stack
No. of "a" is  5
[3, 7, 11, 14, 28]
we iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck
['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [107]:
a.isupper()

False

In [120]:
' '.isspace()

True

In [115]:
'ad12sa'.isalnum()

True

In [116]:
'ad13sd'.isalpha()

False

In [132]:
'The Book'.istitle() # First char is upper case

True

In [130]:
'asds'.endswith('s') and 'asds'.startswith('a')

True

In [134]:
count = len([i for i in a])
print(count)
print(len(a))

31
31

In [148]:
name = "ineauronu"
vowels ="AaEeIiOoUu"

for i in range(len(name)):
    if(name[i] in vowels):
        print("Found vowel=> {} at {} location".format(name[i],i))

Found vowel=> i at 0 location
Found vowel=> e at 2 location
Found vowel=> a at 3 location
Found vowel=> u at 4 location
Found vowel=> o at 6 location
Found vowel=> u at 8 location

In [152]:
s =  input('Enter a data to check palindrom')
print('Original string ',s)
print('Reversed string ',s[::-1])

if(s == s[::-1]):
    print("String is a palindrom")
else:
    print("String is not a palindrom")

Enter a data to check palindromsdfsd
Original string  sdfsd
Reversed string  dsfds
String is not a palindrom

In [164]:
mlist = [10,20,30,40]
mlist * 3 #Same as string it will repeat same list data elements

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [165]:
mlist + ['as','asds']

[10, 20, 30, 40, 'as', 'asds']

In [166]:
mlist.append(['234',534])
mlist

[10, 20, 30, 40, ['234', 534]]

In [167]:
mlist.pop()

['234', 534]

In [168]:
mlist

[10, 20, 30, 40]

In [169]:
mlist.extend(['234',534])

In [172]:
'234' in mlist

True

In [173]:
534 not in mlist

False

In [175]:
'P' or 'Q'

'P'

In [178]:
8 and 4

4

In [179]:
mlist

[10, 20, 30, 40, '234', 534]

In [180]:
mlist.append(['25','35'])

In [181]:
mlist

[10, 20, 30, 40, '234', 534, ['25', '35']]

In [182]:
mlist.extend(['af','ef'])
mlist

[10, 20, 30, 40, '234', 534, ['25', '35'], 'af', 'ef']

In [183]:
mlist.append('asd','sad') #append used to add only one element/sublist at the end 
# we can use extend to add multiple elements in list

TypeError: append() takes exactly one argument (2 given)