# Tuple

In [1]:
mytuple = (12,23,45,'we','@ai','@ai',[123,34,5])
mytuple

(12, 23, 45, 'we', '@ai', '@ai', [123, 34, 5])

In [25]:
mytuple*2

(12, 23, 45, 'we', '@ai', '@ai', 12, 23, 45, 'we', '@ai', '@ai')

In [26]:
mytuple.count('@ai')

2

In [27]:
mytuple.index(45)

2

In [3]:
mytuple[1:4:2]

(23, 'we')

In [4]:
mytuple[::-1]

('@ai', 'we', 45, 23, 12)

In [137]:
# tuple with single element 
t = 45,
print(type(t))
print(t)

<class 'tuple'>
(45,)

In [2]:
type(mytuple)

tuple

In [3]:
# Tuples are immutable object i.e can't update data refering to any index but can append another tuple with reassignment

t2 = ('AE','23',67)
mytuple = mytuple + t2
mytuple

(12, 23, 45, 'we', '@ai', 'AE', '23', 67)

In [4]:
mytuple[3] = '55'

TypeError: 'tuple' object does not support item assignment

In [5]:
45 in mytuple

True

In [6]:
t_int = (12,34,56,11,6)

In [7]:
max(t_int)

56

In [9]:
mytuple+t_int

(12, 23, 45, 'we', '@ai', 'AE', '23', 67, 12, 34, 56, 11, 6)

In [28]:
mytuple

(12, 23, 45, 'we', '@ai', '@ai')

In [13]:
mytuple.insert(2,'AS')
# since insert is not allowed in tuple will have to convert it in list

AttributeError: 'tuple' object has no attribute 'insert'

In [29]:
l2 = list(mytuple)
l2.insert(2,'AS')
l2

[12, 23, 'AS', 45, 'we', '@ai', '@ai']

In [30]:
mytuple = tuple(l2)
mytuple

(12, 23, 'AS', 45, 'we', '@ai', '@ai')

In [1]:
t2 = ((12,'DF'),12,77,[66,'gh'],88)

In [2]:
len(t2)

5

In [26]:
t2[0][1]

'DF'

In [28]:
t2[3][-1]

'gh'

In [30]:
t1 = (12,34,5,56)

In [31]:
del(t1)

In [32]:
t1 # deleted t1 tuple

NameError: name 't1' is not defined

# Tuple won't support all list function which use to take index as input like remove, insert, pop, etc.

# Set

In [33]:
myset = {'12','12',12,'AED',['2','4','5'],('rt','er',55),{88,9,80,50}} #Neasted elements are not allowed

TypeError: unhashable type: 'list'

In [37]:
myset = {'12','12',12,'AED',60}
myset # will store unique values

{12, '12', 60, 'AED'}

In [10]:
myset = {33,3,13}
myset

{3, 13, 33}

In [11]:
myset[0]

TypeError: 'set' object is not subscriptable

In [10]:
myset[2] = 'TT'

TypeError: 'set' object does not support item assignment

In [4]:
myset.add(44)

In [5]:
myset

{3, 13, 33, 44}

In [6]:
myset.add(4)
myset

{3, 4, 13, 33, 44}

In [7]:
s2 = {'Gaikwad','Atul','Shubham'}
s2 # Set is a unordered collection as it never stores data in ordered index
# but in output it shows data in order

{'Atul', 'Gaikwad', 'Shubham'}

In [8]:
s2 *2  # since Repetavtive element not allowed

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [9]:
s2 =s2+myset # since Repetavtive element not allowed

NameError: name 'myset' is not defined

In [5]:
s2 = set([99,88])

In [6]:
s1 = set([39,88])

In [7]:
s2+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [31]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# Dictionary

In [2]:
x = {} # not a set 
type(x)

dict

In [4]:
# But ....
x={1,}
type(x)

set

# Here by default compiler assume {} as dictionary but when we have normal data elements in {} then it will be considered as set

In [60]:
mydict = {'key1' : 'value1','key2' : 12, 'key2':45,True :12,'TT':False}

In [61]:
mydict # here keys are unique key2 was repeated but ignored by dict 
# But value in updated with last key's value i.e.45

{'key1': 'value1', 'key2': 45, True: 12, 'TT': False}

In [62]:
mydict.update({'233' : 23})

In [63]:
type(mydict)

dict

In [64]:
mydict

{'key1': 'value1', 'key2': 45, True: 12, 'TT': False, '233': 23}

In [65]:
mydict.update({'233' : [2,3,3]}) # as value we can have any data collection

In [66]:
mydict

{'key1': 'value1', 'key2': 45, True: 12, 'TT': False, '233': [2, 3, 3]}

In [67]:
mydict.update({[2,3,4]:'234'}) # as a key data collection is not a allowed except tuples

TypeError: unhashable type: 'list'

In [68]:
mydict.update({(2,3,4):'234'}) # as a key data collection is not a allowed except tuples
mydict

{'key1': 'value1',
 'key2': 45,
 True: 12,
 'TT': False,
 '233': [2, 3, 3],
 (2, 3, 4): '234'}

In [69]:
d2 = {'name':'atul','age':24,'cell':8702383731}
d2

{'name': 'atul', 'age': 24, 'cell': 8702383731}

In [70]:
mydict.update({d2:23}) # can't use dict as a key but can use as a value

TypeError: unhashable type: 'dict'

In [71]:
mydict.update({'subdict':d2})

In [73]:
mydict['subdict']

{'name': 'atul', 'age': 24, 'cell': 8702383731}

In [74]:
mydict['subdict']['name']

'atul'

In [75]:
mydict *3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [77]:
d3 = mydict+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [79]:
mydict['subdict']['name'] = 'Atul Gaikwad' # Dict is a Mutable like list

In [81]:
mydict['subdict']['name']

'Atul Gaikwad'

In [82]:
mydict.keys()

dict_keys(['key1', 'key2', True, 'TT', '233', (2, 3, 4), 'subdict'])

In [84]:
c=0
for k in mydict.keys():
    print('key ',c,' type=',type(mydict[k]))
    c+=1

key  0  type= <class 'str'>
key  1  type= <class 'int'>
key  2  type= <class 'int'>
key  3  type= <class 'bool'>
key  4  type= <class 'list'>
key  5  type= <class 'str'>
key  6  type= <class 'dict'>

In [86]:
mydict.items()

dict_items([('key1', 'value1'), ('key2', 45), (True, 12), ('TT', False), ('233', [2, 3, 3]), ((2, 3, 4), '234'), ('subdict', {'name': 'Atul Gaikwad', 'age': 24, 'cell': 8702383731})])

In [88]:
for i in mydict.items():
    print('key =',i[0],' value=',i[1]) # since each item is fetched like a tuple using items() function

key = key1  value= value1
key = key2  value= 45
key = True  value= 12
key = TT  value= False
key = 233  value= [2, 3, 3]
key = (2, 3, 4)  value= 234
key = subdict  value= {'name': 'Atul Gaikwad', 'age': 24, 'cell': 8702383731}

In [89]:
len(mydict)

7

In [108]:
# Q1 take input as paragraph by input function 
para = input('Enter a paragraph')

# convert all input in list of words
lWords = para.split()
print('List of words-',lWords)

#Remove all the duplicate element 
sWords = set(lWords)
print('Unique Set of words-',sWords)

# dictionary from set, with each element of set as key and same value i.e your name 
dWords = dict()

print(dWords) 
for i in sWords:
    dWords.update({i:'Atul'})
    
dict2 = dict.fromkeys(dWords,'Atul G')
print('alternate way',dict2)

              
print('Tuple of all values- ',tuple(dWords.values()))
print('List of all keys- ',list(dWords.keys()))

Enter a paragraphYes you have auto-complete built-in Jupyter
List of words- ['Yes', 'you', 'have', 'auto-complete', 'built-in', 'Jupyter']
Unique Set of words- {'Yes', 'auto-complete', 'you', 'Jupyter', 'have', 'built-in'}
{}
alternate way {'Yes': 'Atul G', 'auto-complete': 'Atul G', 'you': 'Atul G', 'Jupyter': 'Atul G', 'have': 'Atul G', 'built-in': 'Atul G'}
Tuple of all values-  ('Atul', 'Atul', 'Atul', 'Atul', 'Atul', 'Atul')
List of all keys-  ['Yes', 'auto-complete', 'you', 'Jupyter', 'have', 'built-in']

In [115]:
dict2 = {"company":"ineauron","course":"Full stack dev","year":2021}
for i in dict2:
    print("key= ",i," vlaue= ",dict2[i])
    if(i == 'year' and dict2[i] >= 2021):
        dict2['course'] = 'Full Stack Data Science '+ str(dict2[i])

print('After update = ',dict2)

key=  company  vlaue=  ineauron
key=  course  vlaue=  Full stack dev
key=  year  vlaue=  2021
After update =  {'company': 'ineauron', 'course': 'Full Stack Data Science 2021', 'year': 2021}

In [116]:
d = {}
for i in range(10):
    d[i] = i *i
    
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# dictionary comprehension

In [120]:
d = {i:i*i for i in range(1,11) if(i%2==0)}
d

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [127]:
d = {i:i if(i%2==0) else i*2 for i in range(1,11) }
d

{1: 2, 2: 2, 3: 6, 4: 4, 5: 10, 6: 6, 7: 14, 8: 8, 9: 18, 10: 10}

In [128]:
d = {i:'22' if(i==2) else '66' if(i==6) else i for i in range(1,11) }
d

{1: 1, 2: '22', 3: 3, 4: 4, 5: 5, 6: '66', 7: 7, 8: 8, 9: 9, 10: 10}

# comprehension with set and tuple

In [129]:
s = {i*i for i in range(1,11) if(i%2==1)}
s

{1, 9, 25, 49, 81}

In [5]:
t = ('A' if(i<=3) else 'B' if(i>3 and i<8) else 'C' for i in range(1,11))
type(t)

generator

Comprehension works by looping or iterating over items and assigning them into a container, a Tuple is unable to receive assignments. Once a Tuple is created, it can not be appended to, extended, or assigned to.

In [ ]:
tuple(t)

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
a = xrange(1,11)

NameError: name 'xrange' is not defined